/* axis */

/*.axis { !* axis labels *!*/
    /*fill: #808080;*/
    /*font-family: sans-serif;*/
    /*font-size: 10px;*/
/*}*/

/*.axis line{ !* axis tick marks *!*/
    /*stroke-width : 1;*/
    /*stroke: grey;*/
    /*shape-rendering: crispEdges;*/
/*}*/

/*.axis path { !* axis line *!*/
    /*stroke-width : 1;*/
    /*stroke: grey;*/
    /*shape-rendering: crispEdges;*/
/*}*/

/* timeline band */

.timeline {
    position: relative;
}

.band { /* band background */
    fill: #FAFAFA;
}

/* labels */

.bandLabel {
    fill: #F0F0F0;
    font: 10px sans-serif;
    font-weight: bold;
}

.bandMinMaxLabel {
    fill: blue;
    font: 10px sans-serif;
    font-weight: bold;
}

.bandMidLabel {
    fill: red;
    font: 10px sans-serif;
    font-style: italic;
    font-weight: bold;
}

/* brush */

.brush .extent {
    stroke: gray;
    fill: blue;
    fill-opacity: .1;
}

.chart {
    fill: #EEEEEE;
}

.interval {
    fill: dodgerblue;
    stroke-width: 6;
    cursor : default;
    pointer-events: true;
}

.instant {
    fill: dodgerblue;
    stroke-width: 6;
    cursor : default;
    /*pointer-events: true;*/
}

.instantLabel {
    fill : blue;
    font: 10px sans-serif;
    shape-rendering: crispEdges;
}

.intervalLabel {
    fill : black;
    font: 10px sans-serif;
    shape-rendering: crispEdges;
}

.item {
    cursor : default;
    pointer-events: auto;
}

/*.svg {*/
    /*border-style: solid;*/
    /*border-width: 1px;*/
    /*border-color: black;*/
    /*background-color: #FFFFFF;*/
/*}*/

.tooltip {
    width: 0px;
    height: 0px;
    position: absolute;
    z-index: 2;
    visibility: hidden;
    color : black;
    cursor:default;
    pointer-events: none;
    display: flex;
}

.tooltip.top-left {

}
.tooltip.top-right {
    flex-direction: row-reverse;
}
.tooltip.bottom-right {
    flex-flow: row-reverse wrap-reverse;
}
.tooltip.bottom-left {
    flex-flow: column-reverse;
}

.tooltip-container {
    shape-rendering: crispEdges;
    padding: 4px;
    min-width: 300px;
    min-height: 100px;
    border: 1px solid;
    background-color: #FFFFEE;
}

.mouseover-line {
    stroke: #0984e3;
}

.mouseover-label {
    fill : white;
    font: 10px sans-serif;
    shape-rendering: crispEdges;
    text-anchor: middle;
}

.mouseover-label-background {
    fill: #0984e3;
}
